.pageContent{
    margin: 1rem;
    margin-bottom: 25rem;
    
}
#container-searchBarMainPage{
    padding-left: 0;
}
.pokemonsOl{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 12rem; */
    grid-gap: 10px;
    margin-top: 1rem;
}

.pokemonsOl > li{
    position: relative;
    border-radius: 1rem;
    display: flex;
    max-width: 100%;
    vertical-align: center;
    min-height: 85px;
}
.pokemonCardImgConteiner{
    position: absolute;
    left: 10px;
    top: 20px;
    max-width: 45px;
    max-height: auto;
}
.pokemonCardImg{
    max-width: 100%;
    height: auto;
}

.pokemonDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 6px;
    left: 90px;
    text-align: right;
}
.pokemonCardName{
    font-size: small;
}
.types{
    font-size:x-small
}
.types > li {
    list-style: none;
    filter: brightness(1.1);
    border-radius: 1rem;
}

#divBtnLoadMore{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/* #kakunaImg{
    max-width: 28px !important;
    height: auto;
}

#weedleImg{
    max-width: 32px !important;
    height: auto;
} */

.pokemonbug > .pokemonCardImgConteiner{
    max-width: 32px !important;
    height: auto;
}


/* types for colors */
.pokemongrass, .grass{
    background-color: rgb(140,216,81);
}
.pokemonnormal, .normal{
    background-color:rgb(188,189,175) ;
}
.pokemonfire, .fire{
    background-color:rgb(250,85,66) ;
}
.pokemonbug, .bug{
    background-color:rgb(194,209,32) ;
}
.pokemonwater, .water{
    background-color:  rgb(85,174,254);
}
.pokemonflying, .flying{
    background-color: rgb(120,163,255);
}
.pokemonfairy, .fairy{
    background-color: rgb(250,173,255);
}
.pokemonelectric, .electric{
    background-color: rgb(252,228,63);
}
.pokemonpoison, .poison{
    background-color: rgb(168,91,157);
}
.pokemonfighting, .fighting{
    background-color: rgb(164,87,68);
}
.pokemonpsichic, .psichic{
    background-color: rgb(244,97,175);
}
.pokemonsteel, .steel{
    background-color: rgb(195,193,217);
}
.pokemonrock, .rock{
    background-color: rgb(206,188,114);
}